= title "Bretzel vs Arepa - #{@user.name}"


.container-about-user-more 
	- unless @user.portada.blank?
		.container-about-user-more-title{ style: "background: url('#{@user.portada}') no-repeat;"}
			Soy #{@user.name}
	.row.container-about-user-more-description{style:"width: 100%; margin:0;"}
		.col-lg-4
			= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest @user.email}?s=200", class: "avatar"
		- unless @user.bio.nil?
			.col-lg-8{style:"padding:0;"}
				= @user.bio.html_safe
	.container-last-blog-posts.row
		- @posts.each do |post|
			= link_to "/blog/#{post.permalink}" do
				.col-lg-4{style:"padding: 0;"}
					.container-last-blog-posts-post
						%p.container-last-blog-posts-post-category{style:"background: #{post.category.color}"} #{post.category.name}
						.container-last-blog-posts-post-photo{ style: "background-image: url(#{post.image});" }

						%p.container-last-blog-posts-post-title #{post.title.truncate(32)}
						%p.container-last-blog-posts-post-subtitle #{post.subtitle.truncate(35)}
						.container-last-blog-posts-post-divisor
						= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest post.user.email}?s=60", class: "avatar"
						%p.container-last-blog-posts-post-user	#{post.user.name}
						%p.container-last-blog-posts-post-date	#{I18n.l @posts[1].created_at, format: '%B %d, %Y'}				
