.container-welcome
	= link_to index_path do
		.p.text-site IR AL BLOG


	.container-welcome-user#id-1{style: "background: linear-gradient(0deg, rgba(30, 33, 33, 0.45) 100%, rgba(32, 32, 32, 0.09) 100%), url(#{@user[1].portada}) no-repeat;"}
		= link_to about_user_path(@user[1].permalink) do
			= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest "#{@user[1].email}"}?s=160", class: ""

			%p #{@user[1].name}
			%hr

	.container-welcome-user#id-2{style: "background: linear-gradient(100deg, rgba(30, 33, 33, 0.45) 100%, rgba(32, 32, 32, 0.1) 100%), url(#{@user[2].portada}) no-repeat;"}
		= link_to about_user_path(@user[2].permalink) do
			= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest "#{@user[2].email}"}?s=160", class: ""

			%p #{@user[2].name}
			%hr

.container-welcome-mobile
	= image_tag "frontend/logo.png"
	%p ¡Viajando por el mundo!
	
	= link_to index_path do
		.p.text-site.hidden-lg IR AL BLOG


:javascript
	$("#id-1").hover(function(){
		$(".container-welcome").removeClass("is-right");
		$(".container-welcome").addClass("is-left");	
	});

	$("#id-2").hover(function(){
	$(".container-welcome").removeClass("is-left");
		$(".container-welcome").addClass("is-right");
	});
