.blog-widget.panel.panel-default
	.blog-widget--header
		%h3.widget-title.panel-heading
			Recientes
	.blog-widget--body.panel-body
		%ul.widget-list#recents
			- @posts_recents.each do |post|
				%li
					%i.fa.fa-sign-out
					= link_to post.title, blog_show_post_path(post.permalink)

