.blog-widget.panel.panel-default
	.blog-widget--header.hidden-xs
		%h3.widget-title.panel-heading
			Búsqueda
	.blog-widget--body.panel-body
		.widget-list#search
			= form_tag blog_listing_path, method: :get, :html => {:class => ""} do |f|
				= text_field_tag :query, params[:query], :placeholder => "Buscar.."