.blog-widget.panel.panel-default
	.blog-widget--header
		%h3.widget-title.panel-heading
			Instagram timeline
	.blog-widget--body.panel-body
		%iframe.snapwidget-widget{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://snapwidget.com/in/?u=YnJldHplbHZzYXJlcGF8aW58MTI1fDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=150216", :style => "border:none; overflow:hidden; width:390px; height:390px", :title => "Instagram Widget"}
		

