= title "Bretzel vs Arepa - Blog"

.container.blog#keppler-blog

	.visible-sm
		= render 'categories'
	
	.visible-xs
		= render 'search'


	.row
		.col-lg-8.col-xs-12
			.posts-wrapper
				- unless @posts.empty?
					- @posts.each do |post|

						.col-lg-6.col-sm-6.col.posts-wrapper-col
							.container-last-blog-posts-post
								= link_to "/blog/category/#{post.category.name}" do
									%p.container-last-blog-posts-post-category{style:"background: #{post.category.color}"} #{post.category.name}
								.container-last-blog-posts-post-photo{ style: "background-image: url(#{post.image});" }
								= link_to "/blog/#{post.permalink}" do
									%p.container-last-blog-posts-post-title #{post.title.truncate(32)}
									%p.container-last-blog-posts-post-subtitle #{post.subtitle.truncate(35)}
								.container-last-blog-posts-post-divisor
								= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest post.user.email}?s=60", class: "avatar"
								= link_to main_app.about_user_path(post.user.permalink) do
									%p.container-last-blog-posts-post-user	#{post.user.name}
								%p.container-last-blog-posts-post-date	#{I18n.l post.created_at, format: '%B %d, %Y'}
				- else
					%center
						No se encontraron resultados.
						= action_name
					%hr.hr-half

				= paginate @posts, :views_prefix => 'templates'

		= render "sidebar"