= title @post.title
= meta_description sanitize(@post.body, tags: []).truncate(150)
.blog-header{ style: "background: url('#{@post.image}') no-repeat;"}
.container.blog#keppler-blog

	.visible-xs
		= render 'search'
	.row
		.col-lg-12.col-xs-12
			.posts-wrapper
				.post
					%h2.post-title
						= link_to @post.title, blog_show_post_path(@post.permalink, popup: "true")
					.post-attributes
						%ul
							%li
								%span
									= @post.created_at.strftime("%d %b. %Y")
							%li
								= link_to @post.category.name, filter_path('category', @post.category.permalink), class: "category" , style:"background: #{@post.category.color}"
							%li#user
								%span
								= link_to main_app.about_user_path(@post.user.permalink) do
									= @post.user.name
						= @post.shared_enabled ? social_share_button_tag(@post.title) : "<br>".html_safe	

						.full-divide
					.post-body
						= @post.body.html_safe

					= render 'facebook_comments'

	- if @related.count > 1

		.blog-related
			%p.blog-related-title Related Posts
			.blog-related-divisor

			- @related.each do |post|
				= link_to "/blog/#{post.permalink}", style: "margin-left: 0;" do
					.col-lg-4.posts-wrapper-col
						.container-last-blog-posts-post
							%p.container-last-blog-posts-post-category{style:"background: #{post.category.color}"} #{post.category.name}
							.container-last-blog-posts-post-photo{ style: "background-image: url(#{post.image});" }

							%p.container-last-blog-posts-post-title #{post.title.truncate(32)}
							%p.container-last-blog-posts-post-subtitle #{post.subtitle.truncate(35)}
							.container-last-blog-posts-post-divisor
							= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest post.user.email}?s=60", class: "avatar"
							= link_to "/about/#{post.user.permalink}" do
								%p.container-last-blog-posts-post-user	#{post.user.name}
							%p.container-last-blog-posts-post-date	#{I18n.l post.created_at, format: '%B %d, %Y'}


