.wrapper
	.wrapper-body.container
		.actions
			= link_to categories_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @category do |f|
					.row
						= f.input :name, label: "Nombre", style: "margin-bottom:10px;"
						%h6.label-color{style:"position: absolute; top: 37%; color: #9e9e9e; left: 18px;"} Color de categoria
						= f.input :color, as: :minicolors, label: false
						= f.simple_fields_for :subcategories do |c|
							= render 'subcategory_fields', :f => c
							
						.links.right
							= link_to_add_association 'Añadir subcategoría', f, :subcategories, class: "waves-effect waves-dark btn-flat", style: "margin-bottom:10px;"
							= f.button :submit, "Guardar", class: "btn"
						
