.listing-show-header#header-category
	.actions
		- if can? :update, model
			= link_to edit_category_path(@category), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card#body-category{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @category.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @category.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @category.color
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.permalink")
			.display-value= @category.permalink
		- unless @category.subcategories.empty?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.subcategories")
				.display-value.subcategory
					- @category.subcategories.each do |subcategory|
						%span.subcategory= subcategory.name
	

:javascript
	$('.tooltipped').tooltip({delay: 1});