= title "Categories | #{@category.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, model
				= link_to categories_path(@category), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, model
				= link_to edit_category_path(@category), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to categories_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.id")
					.display-value.fs-body-1.tc-black-2= @category.id.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @category.name.to_s.humanize
				%li.list-row
					.display-label= t("Color de categoria")
					.display-value.fs-body-1.tc-black-2= @category.color.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.permalink")
					.display-value.fs-body-1.tc-black-2= @category.permalink.to_s.humanize
