.wrapper
	.wrapper-body.container
		.actions
			= link_to users_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @user do |f|
					.row 
						= f.input :portada, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :name
						= f.input :email
						%h6{style:"position: relative; z-index: -1; left: 1%; top: 8px; color: #9e9e9e;"} Biografia
						= f.input :bio, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'mini'}, style:"position: relative; top 20px;" }
						= f.input :role_ids, collection: Role.all.map { |rol| [rol.name.humanize, rol.id] }, label: false, include_blank: "Selecione un rol"
						= f.input :password
						= f.input :password_confirmation
						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"



- if @user.portada.file
	:javascript
		$('.file-path').val("#{@user.portada.file.filename}")