= title "Usuarios | #{@user.name}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, User
				= link_to user_path(@user), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, User
				= link_to edit_user_path(@user), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to users_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				= image_tag "#{@user.portada}", style: "width:100%;"
				- @user.as_json(only: ["id", "name", "permalink", "email","created_at", "sign_in_count", "updated_at", "password"], methods: [:rol]).each do |attribute, value|
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.#{attribute}")
						.display-value.fs-body-1.tc-black-2= value.to_s.humanize
