@import "../core/main";

.container-about-user-more{
	width: 100%;


	&-title{
		background-size: cover !important;
		background-position-x: 50% !important;
		background-position-y: 50% !important; 
		height: 350px;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		font-size: 40px;
		color: #fff;
	}

	&-description{
		width: 100%;
		padding: 50px 16%;

		@media #{$phone}{
			padding: 50px 5% 0px 5%;
			margin-right: 0;
			margin-left: 0;
		}

		@media #{$phone-landscape}{
			padding: 50px 5% 0px 5%;
		}

		@media #{$tablet-7}{
			padding: 50px 12%;
		}

		.avatar{
			border-radius: 50%;

			@media #{$tablet-portrait}{
				margin-bottom: 50px;
			}

			@media #{$tablet-7}{
				margin-bottom: 50px;
			}
		}

		p{
			text-align: center;

			@media #{$phone}{
				margin-top: 20px;
				text-align: justify;
			}

			@media #{$phone-landscape}{
				margin-top: 25px;
				text-align: justify;
			
			}

			@media #{$tablet-7}{
				font-size: 20px;
			}
		}
	}
}