@import "../core/main";

.slick-next:before, .slick-prev:before{
	color: #768088 !important;
}

.slick-prev{
	left: 10% !important;
    z-index: 1000;
    top: 10px !important;
}

.slick-next{
	right: 7% !important;
    z-index: 1000;
    top: 10px !important;
}

.container-categories{
	width: 75%;
    padding: 0 10%;
    left: 10%;
    top: 18px;
    text-align: center;
    text-decoration:none;

    a:hover{
    	text-decoration: none;
    };

    p{
    	font-family: Oxygen, sans-serif;
    	@include transition(.2s);
    }

    p:hover{
    	color: #768088;
    	@include transition(.2s);
    }

    .slick-list{
    	.slick-track{
    		.slick-slide{
    			width: 5% !important;
    		}
    	}
    }

	&-list{
		list-style: none;
		padding: 5px 0;
		text-align:center;

		li{
			display: inline-block;
			padding: 5px 30px;
			text-align:center;
		}
	}
}

.container-about{
	width: 100%;
	margin: 0;

	&-elis{
		height: 465px;
		padding: 0 10%;
		text-align:center;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		border: solid 1px;
		border-color:  #3acbc7 #fff #3acbc7 #3acbc7;

		&-name{
			font-family: Oswald, sans-serif;
			color: #3acbc7;
			font-size: 50px;
		}

		&-description{
			margin-top: 30px;
			font-family: Oxygen, sans-serif;
			text-align: center;

			@media #{$phone}{
				text-align: justify;
			}

			@media #{$tablet-portrait}{
				font-size: 25px;
			}

			@media #{$tablet-7}{
				font-size: 20px;
			}
		}

		&-photo{
			
			background-size: cover;	
			background-position: 0 -60px; 
			width: 200px;
			height: 200px;
			border-radius: 50%;
			@include transition(.2s);
		}

		&-photo:hover{
			width: 210px;
			height: 210px;
			@include transition(.2s);
		}
	}

	&-logo{
		padding: 35px 0 0 0;
		height: 465px;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		border: solid 1px;
		border-color:  #3acbc7 #3acbc7 #3acbc7 #3acbc7; 

		@media #{$phone}{
			padding: 0;
			height: auto;
		}

		@media #{$phone-landscape}{
			padding: 0;
		height: auto;
		}

		@media #{$tablet-7}{
			padding: 0;
			height: auto;
		}

		@media #{$tablet-7-landscape}{
			padding: 0;
			height: auto;
		}

		img{
			width: 80%;

			@media #{$phone-landscape}{
				width: 35%;
			}

			@media #{$tablet-portrait}{
				width: 50%;
			}
			
			@media #{$tablet-7-landscape}{
				width: 30%;
			}

			@media #{$tablet-7}{
				width: 60%;
			}

		}
	}

	&-aure{
		height: 465px;
		padding: 0 10%;
		text-align:center;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		border: solid 1px;
		border-color:  #3acbc7 #3acbc7 #3acbc7 #fff; 

		&-name{
			font-family: Oswald, sans-serif;
			color: #3acbc7;
			font-size: 50px;
		}

		&-description{
			margin-top: 30px;
			font-family: Oxygen, sans-serif;
			text-align: center;

			@media #{$phone}{
				text-align: justify;
			}

			@media #{$tablet-portrait}{
				font-size: 25px;
			}

			@media #{$tablet-7}{
				font-size: 20px;
			}
		}

		&-photo{
			
			background-size: cover;	
			background-position: 0 0; 
			width: 200px;
			height: 200px;
			border-radius: 50%;
			@include transition(.2s);
		}

		&-photo:hover{
			width: 210px;
			height: 210px;
			@include transition(.2s);
		}
	}
}