@import "../core/main";

.container-footer{

	@media #{$phone}{
		padding-top: 0px;
	}

	@media #{$phone-landscape}{
		padding-top: 0px;
	} 

	&-suscribe{
		width: 100%;
		height: 280px;
		background:radial-gradient(circle at 54% 70%, rgba(35, 47, 56, 0.47) 75%, rgba(35, 47, 56, 0.29) 99%),  image-url("frontend/footer-bg.jpg") no-repeat;
		background-size: cover;
		background-position: 0 -150px;

		@media #{$phone}{
			height: 220px;
			background-position: 0 0px;
		}

		.new_subscribe{
			width: 25%;

			@media #{$desktop}{
				position: relative;
				left: 1.5%;
			}

			@media #{$phone}{
				width: 80%;
			}

			@media #{$phone-landscape}{
				width: 60%;
			}

			@media #{$tablet-portrait}{
				width: 50%;
				position: relative;
    			left: 2%;
			}

			@media #{$tablet-7}{
				width: 60%;
				position: relative;
    			left: 2%;
			}

			@media #{$tablet-7-landscape}{
				width: 60%;
				position: relative;
    			left: 5%;
			}

			.form-group{

				.email{
					display: inline-block;
					width: 71%;
					#subscribe_email{
					width: 100%;
					height: 50px;
					border: 1px none black;
					border-top-left-radius: 3px;
					border-bottom-left-radius: 3px;
					color: #4d565d;
					font-size: 15px;
					padding: 10px;

						@media #{$phone}{
							width: 100%;
						}

						@media #{$phone-landscape}{
							width: 100%;
						}

					}
					
				}

				.form-actions{
					display: inline-block;

					.btn-send{
						background-color: #3898ec;
						color: white;
						border: 0;
						line-height: inherit;
						text-decoration: none;
						cursor: pointer;
						position: relative;
						left: -5px;
						top: -1px;
						border-radius: 0;
						height: 50px;
						width: 100%;
						@include transition(.2s);

						@media #{$tablet-7}{
							top: 0;
						}

						@media #{$tablet-7-landscape}{
							top: 0;
						}
					}

					.btn-send:hover{
						background-color: #3ACBC7;
						@include transition(.2s);
					}
				}
			}
		}
		.container-footer-suscribe-icon-load{
			color: #0ABAB5;
			display: none;
			font-size: 45px;
		}

		#errores{
			width: 25%;
			color: white;
			height: 50px;
			display: none;
			border-radius: 5px;
			position: fixed;
			bottom: 30px;
			right: 12px;
			cursor: pointer;
			z-index: 1000;

			@media #{$phone}{
				width: 84%;
			}

			@media #{$phone-landscape}{
				width: 55%;
			}

			#exit{
				position: relative;
				top: 5px;
				right:10px;
				font-size: 18px;
			}

			.error{
				background-color: #C95D58;
				padding: 8px 0;
				border-radius: 5px;

				i{
					display: inline-block;
					font-size: 30px;
					position: relative;
					top: 5px;
				}

				p{
					display: inline-block;
					margin-left: 5px;
				}
			}

			.success{

				background-color: #72B572;
				padding: 8px 0;
				border-radius: 5px;

				i{
					display: inline-block;
					font-size: 30px;
					position: relative;
					top: 5px;
				}

				p{
					display: inline-block;
					margin-left: 5px;
				}
			}

			p{
				text-transform: capitalize;
				margin-top: 5px;
			}
		}



		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);

		&-title{
			text-align: center;
			color: #efefef;
			margin-bottom: 10px;
			font-family: Oxygen, sans-serif;
			font-size: 25px;
			line-height: 30px
		}

		&-divisor{
			display: block;
			width: 20%;
			height: 1px;
			margin: 16px auto;
			background-color: #3acbc7;
			list-style-type: lower-alpha;
		}
	}

	&-creditos{
		width: 100%;
		padding-bottom: 40px;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);

		&-logo{
			img{
				width: 15%;

				@media #{$phone}{
					width: 50%;
				}

				@media #{$phone-landscape}{
					width: 30%;
				}

				@media #{$tablet-7}{
					width: 30%;
				}
			}
		}

		&-social{
			height: 50px;
			text-decoration: none;

			i{
				font-size: 30px;
				text-decoration: none;
				color: #000;
				margin-right: 15px;
				margin-bottom: 20px;
				@include transition(.2s);
			}

			i:hover{
				text-decoration: none !important;
				font-size: 35px;
				color: #3acbc7;
				@include transition(.2s);
			}
		}

		&-slice-logo{

			a{
				@media #{$phone}{
					margin-left: 0;
				}
			}

			text-align: center;
			img{
				width: 6%;

				@media #{$phone}{
					width: 20%;
				}

				@media #{$phone-landscape}{
					width: 12%;
				}

				@media #{$tablet-7}{
					width: 12%;
				}
			}

			P{
				font-family: Oxygen, sans-serif;
				color: #3acbc7;
				font-size: 15px;
				font-weight: bold;
				font-weight: 400;
			}
		}
	}
}
