@import "../core/main";

.container-home{
	width: 100%;
	height: 550px;	
	background: linear-gradient(135deg, rgba(30, 33, 33, 0.81) 1%, rgba(32, 32, 32, 0.09) 70%), image-url("frontend/bg-home.jpg") no-repeat fixed;
	background-position-y: 120%;
  	background-size: auto, cover;

  	@media #{$phone}{
  		height: 450px;	
  		background-position-x: 50%;
  	}

  	@media #{$phone-landscape}{
  		height: 350px;
  		background-position-y: 100%;	
  	}

  	@media #{$tablet-portrait}{
		background-position-y: 0%;
		background-size: initial;
	}

	@media #{$tablet-7}{
		background-position-y: 0%;
		background-size: initial;
		background-position-x: 50%;
	}


		text-align:center;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
	
	&-title{

		p{
			color: #fff;
			font-size: 50px;
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
			letter-spacing: 2px;
			opacity: 0.8;

			@media #{$phone}{
				font-size: 40px;
			}

			@media #{$phone-landscape}{
				font-size: 40px;
			}
		}	
	}
}