@import "../core/main";

.container-last-blog{

	&-title{
		text-align: center;
		font-family: Oxygen, sans-serif;
		padding-top: 60px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 2px;
	}

	&-divisor{
		display: block;
	    width: 20%;
	    height: 1px;
	    margin: 16px auto;
	    background-color: #3acbc7;
	    list-style-type: lower-alpha;

	    @media #{$phone}{
	    	margin: 15px auto;
	    }
	}

	&-posts{
		padding: 15px 15%;
		width: 100%;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		-webkit-transform: translateZ(0);

		@media #{$tablet-7}{
			padding: 15px 12%;
			margin: 0;
		}

		@media #{$desktop}{
			margin-left: 0;
		}


		@media #{$phone}{
			padding: 0px 5%;
			margin-left: 0px;
			margin-right: 0;
		} 

		@media #{$phone-landscape}{
			padding: 10px 5%;
			margin-left: 0;
		}

		&-post{
			height: 280px;
			position: relative;
			border: solid 1px#ddd;
			background-color: white;
			overflow-x: hidden;
			overflow-y: hidden;
			margin-bottom: 20px;
			top: 0;
			margin-right: 10px;
			box-shadow: rgba(0,0,0,0.09) 0 0 0 1px;
			border-radius: 5px;
			@include transition(.1s);

			@media #{$phone}{
				margin-bottom: 15px;
				left: 0 !important;
				margin-right: 0;	
			}

			@media #{$phone-landscape}{
				margin-right: 0px;
			}

			@media #{$tablet-portrait}{
				height: 280px;
			}


			a{
				@media #{$phone}{
					margin-left: 0;
				}

				@media #{$phone-landscape}{
					margin-left: 0;
				}
			}


			&-photo{
				width: 100%;
				height: 150px;
				background-size: cover;
				border-radius: 5px 5px 0 0;
				background-position-y: 50%; 


			}

			&-title{

				margin-top: 15px;
				margin-bottom: 6px;
				color: #101315;
				font-size: 16px;
				line-height: 21px;
				font-weight: 400;
				font-family: Oxygen, sans-serif;
				text-decoration: none;
				padding: 0 3%;

			}

			&-category{
				position: absolute;
				color: #fff;
				text-align:center;
				border-radius: 5px;
				z-index: 10;
				padding: 7px 9px 6px;
				border-radius: 2px;
				font-family: Oxygen, sans-serif;
				color: white;
				font-size: 12px;
				line-height: 13px;
				font-weight: 400;
				text-transform: uppercase;
				margin-top: 10px;
				margin-left: 10px;
			}

			&-subtitle{
				color: #7a7a7a;
				font-size: 13px;
				line-height: 19px;
				font-family: Oxygen, sans-serif;
				padding: 0 3%;
			}

			&-divisor{
				height: 1px;
				width: 100%;
				background: #ddd;
			}

			img{
				margin-top: 10px;
				margin-left: 10px;
				width: 10%;
				border-radius: 50%;
				font-family: Oxygen, sans-serif;
				display: inline-block;
				float: left;

				@media #{$phone-landscape}{
					width: 8%;
					margin-top: 5px;
				}

				@media #{$tablet-portrait}{
					width: 7%;
				}

				@media #{$tablet-7-landscape}{
					width: 7%;
				}
			}

			&-user{
				float: left;
				color: #999;
				font-size: 12px;
				line-height: 35px;
				margin-top: 10px;
				margin-left: 10px;
				display: inline-block;
				text-decoration: underline;

				@media #{$tablet-portrait}{
					font-size: 18px;
				}

				@media #{$tablet-7-landscape}{
					font-size: 12px;
				}
			}

			&-date{
				color: #999;
				font-size: 12px;
				line-height: 35px;
				margin-top: 10px;
				margin-right: 10px;
				display: inline-block;
				float: right;

				@media #{$tablet-portrait}{
					font-size: 18px;
				}

				@media #{$tablet-7-landscape}{
					font-size: 12px;
				}
				
			}
		}

		&-post:hover{
			top: -5px;
			@include transition(.1s);
		}
	}

	#margin{

		@media #{$phone-landscape}{
			margin-left: -3%;
    		padding-right: 3%;
		}

	}

	&-posts:hover{

		@media #{$phone}{
			overflow-y: initial;
			overflow-x: initial;
		}
	}
}
