@import "../core/main";

.border{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
    background: #fff !important;

    a{
    	color: black !important;
    }
}

#front-navbar{ 
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	position: absolute;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;

		@media #{$phone}{
			background-color: #fff;
		}

		@media #{$phone-landscape}{
			background-color: #fff;
		}

		@media #{$tablet-7}{
			background-color: #fff;
		}
	a{
		color:white;
		font-size: 12px;
   		 font-weight: 300;
   		 opacity: 0.8;
   		 margin-right: 15px;
   		 top: 0;
   		 @include transition(.2s);

   		 @media #{$phone}{
   		 	color: black;
   		 }

   		 @media #{$phone-landscape}{
   		 	color: black;
   		 }

   		 @media #{$tablet-7}{
   		 	color: black;
   		 }
	}


	a:hover{
		position: relative;
		top: -5px;
		@include transition(.2s);
	}
	.brand-logo{
		font-family: 'Patua One', cursive;
		position: relative;
		left: 10px;
		font-size: 30px;
		color: #ffffff
	}

	.container{
		.navbar-collapse{
			padding-right: 10%;
			padding-top: 0px;

			@media #{$phone}{
				padding: 0;
			}

			@media #{$phone-landscape}{
		 		padding: 0;
		   	}

		   	@media #{$tablet-7}{
		   		padding: 0;
		   	}

			.navbar-nav{
				float: right;

				@media #{$phone}{
					text-align: center;
   		 			float: none;
   		 		}

		   		 @media #{$phone-landscape}{
		   		 	text-align: center;
		   		 	float: none;
		   		 }

		   		 @media #{$tablet-7}{
		   		 	text-align: center;
		   		 	float: none;
		   		 }
			}
		}

	}
}