@import "../core/main";

.container-recents{
	.posts-recents{
		width: 100%;
		margin: 0;
		padding: 15px 15%;

		@media #{$phone}{
			padding: 0 5% 15px 5%;
		}

		@media #{$phone-landscape}{
			padding: 15px 5%;
		}

		@media #{$tablet-7}{
			padding: 15px 12%;
			margin: 0; 
		}

		.post-recent{

			@include transition(.3s);
			top: 0;
			height: 280px;

			@media #{$phone}{
				margin-bottom: 20px;
			}

			@media #{$tablet-portrait}{
				margin-bottom: 30px;
				height: 332px;
			}

			@media #{$tablet-7}{
				margin-bottom: 30px;
			}

			@media #{$phone-landscape}{
				margin-bottom: 20px;
			}
		
			&-image{
				padding: 5% 7%;
				height: 280px;
				background-size: cover;
				background-position-x: 50% !important; 
				border-radius: 5px;

				@media #{$tablet-portrait}{
					height: 332px;
				}

				.post-recent-items{

					img{
						width: 15%;
						border-radius: 50%;
						display: inline-block;
						position: relative;
						top: 150px;

						@media #{$phone}{
							top: 140px;
						}

						@media #{$phone-landscape}{
							top: 130px;
							width: 8%;
						}

						@media #{$tablet-7}{
							top: 130px;
						}

						@media #{$tablet-7-landscape}{
							width: 10%;
						}
					}
					
					&-title{
						display: block;
						margin-bottom: 4px;
						padding-right: 20px;
						color: white;
						font-size: 20px;
						line-height: 30px;
						text-align: left;
						position: relative;
						top: 150px;

						@media #{$phone}{
							font-size: 16px;
							top: 150px;
							text-overflow:ellipsis;
							white-space:nowrap; 
						}

						@media #{$phone-landscape}{
							top: 140px;
							text-overflow:ellipsis;
							white-space:nowrap; 
						}

						@media #{$tablet-7}{
							top: 136px;
						}

						@media #{$tablet-7-landscape}{
							font-size: 25px;
						}
					}

					&-subtitle{
						font-family: Oxygen, sans-serif;
						color: rgba(255, 255, 255, 0.7);
						font-size: 14px;
						line-height: 25px;
						text-align: left;
						position: relative;
						top: 150px;

						@media #{$phone}{
							font-size: 16px;
							top: 140px;
							text-overflow:ellipsis;
							white-space:nowrap; 
						}

						@media #{$phone-landscape}{
							top: 135px;
							text-overflow:ellipsis;
							white-space:nowrap; 
						}

						@media #{$tablet-7}{
							top: 130px;
						}

						@media #{$tablet-7-landscape}{
							font-size: 20px;
						}
					}

					&-category{
						position: absolute;
						color: #fff;
						text-align:center;
						border-radius: 5px;
						z-index: 10;
						padding: 7px 9px 6px;
						border-radius: 2px;
						font-family: Oxygen, sans-serif;
						color: white;
						font-size: 12px;
						line-height: 13px;
						font-weight: 400;
						text-transform: uppercase;

						@media #{$phone}{
							top: 15px;
						}

						@media #{$phone-landscape}{
							top: 25px;
						}

					}

					&-user{
						display: inline-block;
						color: rgba(255, 255, 255, 0.7);
    				font-size: 12px;
    				margin-left: 5px;
    				text-decoration: underline;
    				position: relative;
						top: 150px;

						@media #{$phone}{
							top: 140px;
						}

						@media #{$phone-landscape}{
							top: 130px;
						}

						@media #{$tablet-7}{
							top: 130px;
						}

						@media #{$tablet-7-landscape}{
							font-size: 18px;
						}
					}

					&-date{
						color: rgba(255, 255, 255, 0.9);
    				font-size: 12px;
    				position: relative;
    				top: 5px;
    				text-align: right;
    				position: relative;
						top: 155px;

						@media #{$phone}{
							top: 112px;
						}

						@media #{$phone-landscape}{
							top: 105px;
						}

						@media #{$tablet-portrait}{
							top: 112px;
						}

						@media #{$tablet-7}{
							top: 100px;
						}

						@media #{$tablet-7-landscape}{
							font-size: 18px;
						}	
					}
				}
			}

			a:hover{
				text-decoration: none;
			}
		}

	.post-recent:hover{
		top: -10px;
		@include transition(.3s);
	}

	}

	&-title{
		text-align: center;
		font-family: Oxygen, sans-serif;
		padding-top: 60px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 2px;
	}

	&-divisor{
		display: block;
    width: 20%;
    height: 1px;
    margin: 16px auto;
    background-color: #3acbc7;
    list-style-type: lower-alpha;

	    @media #{$phone}{
			margin: 15px auto 15px auto;
		}

		@media #{$phone-landscape}{
			margin: 15px auto 0 auto;
		}
	}
}