@import "../core/main";

.container-welcome{
	width: 100%;
	@include display-flexbox;
	@include align-items(center);
	@include flex-direction(row);

	@media #{$phone}{
		display: none;
	}

	@media #{$phone-landscape}{
		display: none;
	}

	@media #{$tablet-7}{
		display: none;
	}

	@media #{$tablet-7-landscape}{
		display: none;
	}

	@media #{$tablet-portrait}{
		display: none;
	}

	.text-site{
		font-family: Oxygen, sans-serif;
		position: absolute;
		bottom: 10%;
		margin: 0 43%;
		color: #fff;
		border: solid 2px #3ACBC7;
		padding: 10px 15px;
		width: 13%;
		text-align: center;
		z-index: 100;
		@include transition(.3s);
	}

	.text-site:hover{
		background: white;
		color: #3ACBC7;
		font-weight: bold;
		@include transition(.3s);
	}

	&-user{
		width: 50%;
		height: 100vh;	
		background-size: cover !important;
		background-position-x: 50% !important;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		@include transition(.4s);

		img{
			border-radius: 50%;
		}

		p{
			font-weight: bold;
			margin: 10px 0;
			text-align: center;
			color: #fff;
			font-family: Oxygen, sans-serif;
		}

		hr{
			background-color: #fff;
			width: 0;
			margin: 5px 0;
			@include transition(.3s);
		}
	}


}

.is-left{
	#id-1{

		a{
				text-decoration: none;
		}
		width: 60%;
		@include transition(.8s);

		hr{
			width: 100%;
			@include transition(.3s);
		}
	}
	#id-2{
		opacity: 0.65;
		width: 40%;
		@include transition(.8s);
	}
}

.is-right{
	#id-1{
		opacity: 0.65;
		width: 40%;
		@include transition(.8s);
	}
	#id-2{

		a{
				text-decoration: none;
		}

		width: 60%;
		@include transition(.8s);
		hr{
			width: 100%;
				@include transition(.3s);
		}
	}
}


.container-welcome-mobile{
	width: 100%;
	height: 100vh;
	background: linear-gradient(135deg, rgba(30, 33, 33, 0.81) 1%, rgba(32, 32, 32, 0.09) 70%), image-url("frontend/bg-home.jpg") no-repeat;
	background-size: cover !important;
	background-position-x: 50% !important;

	@media #{$desktop}{
		display: none;
	}

	@media #{$desktop-large}{
		display: none;
	}

	@media #{$tablet-7-landscape}{
		display: inherit;
	}



	img{

		@media #{$phone}{
			width: 80%;
		}
		
		@media #{$phone-landscape}{
			width: 25%;
		}

		@media #{$tablet-7-landscape}{
			width: 25%;
		}

	}

	p{
		text-align: center;
		color: #fff;
		font-size: 28px;
		font-family: Oxygen, sans-serif;

		@media #{$phone-landscape}{
			position: relative;
			top: -10%;
		}

		@media #{$tablet-portrait}{
			font-size: 40px;
		}
	}

	.text-site{
		font-family: Oxygen, sans-serif;
		position: absolute;
		bottom: 10%;
		margin: 0 30%;
		color: #fff;
		border: solid 2px #3ACBC7;
		padding: 10px 15px;
		width: 40%;
		text-align: center;
		z-index: 100;
		font-weight: bold;

		@media #{$phone-landscape}{
			font-size: 15px;
		}

		@media #{$tablet-portrait}{
			font-size: 25px;
		}

		@media #{$tablet-7-landscape}{
			width: 30%;
			margin: 0 35%;
		}
	}

	.text-site:hover{
		background: white;
		color: #3ACBC7;
		font-weight: bold;
		@include transition(.3s);
	}
}