.container-footer
	- if controller_name != "blog" and action_name != "welcome"
		.container-footer-suscribe
			%p.container-footer-suscribe-title
				Suscribirse
			.container-footer-suscribe-divisor

			= simple_form_for @subscribe, remote: true do |f|
				%form.form-inline
					.form-group
						.row
							= f.input :email, label: false, placeholder: "Introduzca su correo electronico"

							.form-actions.right
								= f.button :submit, "Guardar", class: "btn-send"
				%i.fa.fa-spinner.fa-pulse.container-footer-suscribe-icon-load
				#errores
					%i.fa.fa-times.pull-right#exit
					%center
						.success
							%i.fa.fa-check
							%p#errores-messages-success
						.error
							%i.fa.fa-exclamation-circle
							%p#errores-messages-error

	- if action_name != "welcome"
		.container-footer-creditos
			.container-footer-creditos-logo
				= image_tag "frontend/logo.png"

			.container-footer-creditos-social
				= link_to "https://twitter.com/BretzelvsArepa", target:"_blank" do
					%i.fa.fa-twitter
				= link_to "https://www.instagram.com/bretzelvsarepa", target:"_blank" do
					%i.fa.fa-instagram
				= link_to "https://www.facebook.com/bretzelvsarepa", target:"_blank" do
					%i.fa.fa-facebook			

			.container-footer-creditos-slice-logo
				%p Desarrollado por
				= link_to "https://slicegroup.xyz", target:"_blank" do
					= image_tag "frontend/logo-slice.png"

:javascript
	$(document)
		.ajaxStart(function () {
			$('.container-footer-suscribe-icon-load').show();
			$('.errores').hide();
		});

	$( "#exit" ).click(function() {
		$('#errores').hide();
	});

