%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Bretzel vs Arepa'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : '¡Viajando por el mundo!'}"}

	%script{:src => "//instansive.com/widget/js/instansive.js"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "http://bretzelvsarepa.com/assets/frontend/logo-ed2acf78962aa30fdfe6658243f44d4969a9fabaa3bd9d3e38ba3474e5d58e21.png"
	= csrf_meta_tags

	- if show_blog?
		%meta{ property: "og:title", content: @post.title }
		%meta{ property: "og:description", content: sanitize(@post.body, tags: []).truncate(300) }
		%meta{ property: "og:url", content: request.url }
		%meta{ property: "og:image", content: "http://bretzelvsarepa.com#{@post.image}"}

	- elsif listing_blog?
		%meta{ property: "og:image", content: "http://bretzelvsarepa.com/assets/frontend/logo-ed2acf78962aa30fdfe6658243f44d4969a9fabaa3bd9d3e38ba3474e5d58e21.png"}
		%meta{ property: "og:url", content: request.url }

	-elsif root_path?
		%meta{ property: "og:image", content: "http://bretzelvsarepa.com/assets/frontend/logo-ed2acf78962aa30fdfe6658243f44d4969a9fabaa3bd9d3e38ba3474e5d58e21.png"}
		%meta{ property: "og:title", content: "Bretzel vs Arepa" }
		%meta{ property: "og:url", content: request.url }
		%meta{ property: "og:description", content: "Conoce mas sobre todo lo referente al turismo" }

	-elsif about_more?
		%meta{ property: "og:url", content: request.url }
		%meta{ property: "og:image", content: "http://bretzelvsarepa.com#{@user.portada}"}

	:javascript
		WebFontConfig = {
			google: { families: [  'Raleway::latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();


		WebFontConfig = {
			google: { families: [ 'Oswald:400,700,300:latin', 'Oxygen:400,300,700:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();