-if root_path?

	%li
		= link_to "HOME", "#home"
	%li
		= link_to "ABOUT", "#about"
	%li
		= link_to "BLOG", "/blog", class:"external"
	%li
		= link_to "CONTACT", "#footer"
- else

	%li
		= link_to "HOME", main_app.index_path(anchor: "home"), class:"external"
	%li
		= link_to "ABOUT", main_app.index_path(anchor: "about"), class:"external"
	%li
		= link_to "BLOG", "/blog", class:"external"
	%li
		= link_to "CONTACT", main_app.index_path(anchor: "footer"), class:"external"

