-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#front-navbar{ class: "#{'border' if controller_name == 'blog'}"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.brand-logo
    .collapse.navbar-collapse
      %ul.nav.navbar-nav      
        = render 'layouts/frontend/navigation_links'

