!!!
%html
	= render 'layouts/frontend/head' 
	%body
		%header
			- if action_name != "welcome"
				= render 'layouts/frontend/navigation'
		%main{:role => "main"}
			= #render 'layouts/frontend/messages'
			= yield
			%footer#footer
				= render 'layouts/frontend/footer'
					