- if @categories.count > 5
	.container-categories.multiple-items
		- @categories.each do |category|
			%p #{category.name}

.row.container-about
	.col-lg-4{style:"padding: 0;"}
		.container-about-elis
			%p.container-about-elis-name
				Soy Elis
			= link_to about_user_path(@user_elis.permalink) do
				= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest @user_elis.email}?s=160", class: "container-about-elis-photo"
			%p.container-about-elis-description
				Me llamo Daniela Elisa Vega Angulo, tengo 26 años soy Venezolana, soñadora y Viajera empedernida, con ganas de seguir conociendo los múltiples destinos y culturas que me ofrece el mundo en especial mi país.


	.col-lg-4{style:"padding: 0;"}
		.container-about-logo
			= image_tag "frontend/logo.png"


	.col-lg-4{style:"padding: 0;"}
		.container-about-aure
			%p.container-about-aure-name
				Soy Aure
			= link_to about_user_path(@user_aure.permalink) do
				= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest @user_aure.email}?s=160", class: "container-about-aure-photo"
			%p.container-about-aure-description
				Soy Aureivys Mendez una Venezolana, publicista y apasionada por la comida que ama las diferencias culturales. Lectora y escritora, creyente de las distintas perspectivas de la vida, seguidora de los viajes.

:javascript
	$('.multiple-items').slick({
		infinite: true,
		slidesToShow: 5,
		slidesToScroll: 1,
		infinite: true,
		centerMode: true
	});