- if @posts.count > 2
	.container-last-blog
		%p.container-last-blog-title Lo ultimo en el Blog
		.container-last-blog-divisor

		.container-last-blog-posts.row#margin
			- @posts.each_with_index do |post, index|
				- if index > 1
					.col-lg-4
						.container-last-blog-posts-post{style:"left: 15px;"}
							= link_to "/blog/category/#{post.category.name}" do
								%p.container-last-blog-posts-post-category{style:"background: #{post.category.color}"} #{post.category.name}

							= link_to "/blog/#{post.permalink}" do
								.container-last-blog-posts-post-photo{ style: "background-image: url(#{post.image});" }
								%p.container-last-blog-posts-post-title #{post.title.truncate(32)}
								%p.container-last-blog-posts-post-subtitle #{post.subtitle.truncate(35)}
								.container-last-blog-posts-post-divisor
							= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest post.user.email}?s=60", class: "avatar"
							= link_to about_user_path(post.user.permalink) do
								%p.container-last-blog-posts-post-user	#{post.user.name}
							%p.container-last-blog-posts-post-date	#{I18n.l @posts[1].created_at, format: '%B %d, %Y'}
		
					
				
