
.container-recents
	%p.container-recents-title Lo más reciente
	.container-recents-divisor
	.row.posts-recents 
		- @posts.each_with_index do |post, index|
			- if index < 2
				.post-recent.col-lg-6
					= link_to "blog/#{post.permalink}" do
						.post-recent-image{ style: "background-image: linear-gradient(0deg, rgba(30, 33, 33, 0.8) 1%, rgba(32, 32, 32, 0.09) 84%), url(#{post.image});" }
							.post-recent-items 
								%p.post-recent-items-category{style:"background: #{post.category.color}"} #{post.category.name}
								%p.post-recent-items-title #{post.title.truncate(35)}
								%p.post-recent-items-subtitle #{post.subtitle.truncate(35)}
								.col-lg-6{style:"padding:0;"}
									= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest post.user.email}?s=60", class: "avatar"
									= link_to about_user_path(post.user.permalink) do
										%p.post-recent-items-user #{post.user.name}
								.col-lg-6
									%p.post-recent-items-date	#{I18n.l post.created_at, format: '%B %d, %Y'}
						