//= require_self
@import "navbar_categories";

$phone: "(max-width: 467px)";
$phone-landscape: "(max-device-width: 767px) and (orientation: landscape)";

@mixin icon-before($icon){
  content: $icon;
  font-family: FontAwesome;
}

.fb-comments{
	width: 100%;
}

.panel-body{
	padding: 0 15px 10px 15px;

	@media #{$phone}{
		padding: 10px 15px;
	}

	@media #{$phone-landscape}{
		padding: 10px 20px;
	}
}

.blog-header{
    background-position-y: 50% !important;
	background-size: cover !important;
	width: 100%;
	height: 300px;
	margin-top: 40px;

		@media #{$phone}{
			background-position-x: 50% !important; 
		}
}

.blog{
	margin-top: 100px;
	padding: 0 10%;

	@media #{$phone}{
		margin-top: 40px;
		padding-top: 30px;
	}

	@media #{$phone-landscape}{
		margin-top: 15px;
		padding-top: 50px;
	}


	.blog-related{
		&-title{
			text-align: center;
    font-family: Oxygen, sans-serif;
    padding-top: 60px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 2px;
		}

		&-divisor{
			    display: block;
    width: 20%;
    height: 1px;
    margin: 16px auto;
    background-color: #3acbc7;
    list-style-type: lower-alpha;
		}
	}

	.posts-wrapper{

		&-col{

			@media #{$phone}{
				padding: 0;
				margin-bottom: 20px;
			}

		}

		.post{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);

			&-title{

				margin: 0px;
				margin-bottom: 7px;
				font-family: Oxygen, sans-serif;
				color: #3acbc7;
				font-size: 38px;
				line-height: 44px;
				font-weight: 700;

				@media #{$phone}{
					line-height: 20px;
				}

				a, a:hover{
					color: #3acbc7;
					text-decoration: none;

					@media #{$phone}{
						font-size: 16px;
					}
				}
			}

			&-attributes{
				margin: 5px 0px 25px 0px;

				@media #{$phone}{
					margin: 5px 0px 0px 0px;
				}

				.full-divide{
					width: 100%;
					height: 1px;
					margin-top: 30px;
					margin-bottom: 30px;
					background-color: #dedede;

					@media #{$phone}{
						margin-top: 10px;
						margin-bottom: 10px;
					}
				}

				ul{
					padding: 0px;
					li{
						margin-right: 20px;
						list-style-type: none;
						display: inline-block;
						color: #9ca4af;

						span{
							display: inline-block;
							margin-bottom: 2px;
							font-family: Oxygen, sans-serif;
							color: #999;
							line-height: 25px;
						}

						i{
							margin-right: 10px;
							color: #3acbc7;
						}
						a{
							color: #9ca4af;
						}

						.category{
							position: relative;
							color: #fff;
							text-align: center;
							border-radius: 5px;
							z-index: 10;
							padding: 7px 9px 6px;
							border-radius: 2px;
							font-family: Oxygen, sans-serif;
							color: white;
							font-size: 12px;
							line-height: 13px;
							font-weight: 400;
							text-transform: uppercase;

						}
					}

					#user{

						a{

							@media #{$phone}{
								font-size: 15px;
								position: relative;
								top: 10px;
								 font-family: Oxygen, sans-serif;
								 color: #999;
							}

							@media #{$phone-landscape}{
								font-size: 16px;
								position: relative;
								top: 0px;
								 font-family: Oxygen, sans-serif;
								 color: #999;
							}

						}	
					}
				}
			}

			&-image{
				img{
					border-radius: 5px;
				}
			}

			&-body{
				color: #676f7a;
				line-height: 22px;
				text-align: left;
				margin: 5px 0px 20px 0px;
				p{
					color: #676f7a;
					text-align: left;
					line-height: 22px;
				}
				.read-more{
					margin-top: 15px;
					a{
						border-color: #ee6e73;
  					color: #ee6e73;
						padding: 2px 13px;
					  font-size: 13px;
					  line-height: 16px;
					  border-width: 2px;
					}
				}
			}
		}

		.hr-half{
			border-color: #c8c8c8;
  		border-top-width: 2px;
		}
	}

	.blog-widget{
		margin-bottom: 50px;

		@media #{$phone-landscape}{
			margin-bottom: 10px;
		}

		&--header{
			margin-bottom: 10px;
			.widget-title{
				background-color: #3ACBC7;
				color: #fff;
			  font-size: 16px;
			  text-transform: uppercase;
			  font-weight: 500;
			  margin: 0px 0px 10px 0px;
			}
		}

		&--body{
			ul.widget-list{
				padding: 0px;
				li{
					list-style-type: none;
				}
			}
			
			//widget recents
			#recents{
				li{
					margin-top: 10px;
					a{
						color: #333;
					}
				}
			}

			//widget tags
			#tags{
				li{
					margin-bottom: 10px;
					display: inline-block;
					a{
						border-radius: 2px;
						font-size: 10px;
						background: #333;
						color: white;
						padding: 4px 10px;
						text-transform: uppercase;
					}
					a:hover{
						text-decoration: none;
						background: #3ACBC7;
						-webkit-transition: background .5s;
        		transition: background .5s;
					}
					a.active{
						background: #3ACBC7;
					}
				}
			}

			//widget search
			#search{
				input {
					width: 100%;
					padding:5px 10px 5px 20px;
				}
			}
		}
	}
	
	.social-share-button{
		margin-top: 5px;
	}

	.pagination{
		width: 100%;
		text-align: center;

		.btn-current{
			background: #ee6e73;
			color: white;
			font-weight: bold;
		}

		.page, .next, .last, .prev, .first{			
			.btn-page, .btn-page:hover{
				color: rgba(0, 0, 0, 0.54) !important;
				background: #eeeeee;
				font-weight: bold;
				i{
					font-weight: bold;
				}
			}
		}
	}
}

.social-share-button{
	a{
		text-decoration: none;
		color: #333;
		font-size: 30px;
		margin-left: 3px;
	}

	a:hover{
		color: #3acbc7;
		-webkit-transition: color .5s;
        		transition: color .5s;
	}

	&-twitter:before{
		@include icon-before("\f081");
	}

	&-facebook:before{
		@include icon-before("\f082")
	}
	
	&-google_plus:before{
		@include icon-before("\f0d4")
	}

	&-pinterest:before{
		@include icon-before("\f0d3")
	}

	&-tumblr:before{
		@include icon-before("\f174")
	}

	&-email:before{
		@include icon-before("\f199")
	}

}

