//media
@mixin phone-all{
  @media #{$phone} {
    @content
  }
  @media #{$phone-landscape} {
    @content
  }
}

@mixin animate($name, $time){
  -webkit-animation: $name $time;
  -moz-animation: $name $time;
  -o-animation: $name $time;
  -ms-animation: $name $time;
  animation: $name $time;
}

//transition
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition:$transition;
  transition: $transition;
}

//transform
@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

//animationcss
@mixin animation($name, $duration, $iteration, $direction) {
  -webkit-animation: $name $duration $iteration $direction;
  -moz-animation: $name $duration $iteration $direction;
  -o-animation: $name $duration $iteration $direction;
  -ms-animation: $name $duration $iteration $direction;
}

//keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

//flexbox
@mixin display-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($type){
  -webkit-box-pack: $type;
  -moz-box-pack: $type;
  -ms-flex-pack: $type;
  -webkit-justify-content: $type;
  justify-content: $type;
}

@mixin align-items($type){
  -webkit-box-align: $type;
  -moz-box-align: $type;
  -ms-flex-align: $type;
  -webkit-align-items: $type;
  align-items: $type;
}

@mixin flex-direction($direction: row){
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

#navbar-categories{
	background: #3acbc7;
	.dropdown-menu .sub-menu {
	  left: 100%;
	  position: absolute;
	  top: 0;
	  visibility: hidden;
	  margin-top: -1px;
	}
	
	.nav.navbar-nav li{
		a{
			background: transparent;
			color: white;
		}
		a.active{
			color: #333
		}
	}

	.dropdown-menu li:hover .sub-menu {
	  visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
	  display: block;
	}

	.dropdown-menu li{
		a{
			color: #333 !important;
		}
		a:hover{
			background: #ECECEC;
		}

		a.active{
			background: #ECECEC;
		}
	}

	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	  margin-top: 0;
	}

	.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
	}
	.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
	}
}