%tr{ id: "row-#{subscribe.id}" }
	- if can? :destroy_multiple, Subscribe
		%td.item-check{style:"width: 10%"}
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{subscribe.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{subscribe.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{subscribe.id}" }

		%td{style:"width: 30%"}
			%span
				= subscribe.email
								
	%td{style:"width: 5%"}		
	