$('.container-footer-suscribe-icon-load').hide();
$('#errores').show();

- if @subscribe.errors.any?
	$('.success').hide();
	$('.error').show();
	$('#errores-messages-error').text('#{@subscribe.errors.messages[:email].first}');

-else
	$('.error').hide();
	$('.success').show();
	$('#subscribe_email').val("");
	$('#errores-messages-success').text('Su correo a sido registrado con exito');

