//media
@mixin phone-all{
  @media #{$phone} {
    @content
  }
  @media #{$phone-landscape} {
    @content
  }
}

@mixin animate($name, $time){
  -webkit-animation: $name $time;
  -moz-animation: $name $time;
  -o-animation: $name $time;
  -ms-animation: $name $time;
  animation: $name $time;
}

//transition
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition:$transition;
  transition: $transition;
}

//transform
@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

//animationcss
@mixin animation($name, $duration, $iteration, $direction) {
  -webkit-animation: $name $duration $iteration $direction;
  -moz-animation: $name $duration $iteration $direction;
  -o-animation: $name $duration $iteration $direction;
  -ms-animation: $name $duration $iteration $direction;
}

//keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

//flexbox
@mixin display-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($type){
  -webkit-box-pack: $type;
  -moz-box-pack: $type;
  -ms-flex-pack: $type;
  -webkit-justify-content: $type;
  justify-content: $type;
}

@mixin align-items($type){
  -webkit-box-align: $type;
  -moz-box-align: $type;
  -ms-flex-align: $type;
  -webkit-align-items: $type;
  align-items: $type;
}

@mixin flex-direction($direction: row){
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}